[Desktop Entry]
Type=Action
Name=WinRAR: Open with WinRAR
Icon=application-x-archive
Profiles=Default;

[X-Action-Profile Default]
MimeTypes=application/vnd.rar;application/x-rar;application/zip;application/x-7z-compressed;application/x-tar;application/gzip;application/x-bzip2;application/x-xz;application/octet-stream;
Exec=python3 ~/.local/bin/winrar_pcmanfm.py OPEN %F